/* app css stylesheet */

html {
    position: relative;
    min-height: 100%;
}

code {
    font-size: 80%;
}

.side {
    background-color: #ffdd99;
}
.main {
    background-color: #fff7e6;
}

.container.bis{
    width: 100%;
    padding: 70px 80px 60px 80px;
    position: relative;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #F8F8F8;
}
#drop {
    position: relative;
    height: 100px;
    border-radius: 5px;
    padding-top: 35px; 
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    color: black;
    background-color: #e67300;

}

#drop.hover {
    color: green;
    background-color: #009900;
    border-color: green;
}

#uploadStatus{
    position: relative;
    top: 20px;  
    color: grey;
    text-align: left;
    font-size: 15px;
    font-family: sans-serif;
}

.cadre-type1{
    position: relative;
    padding: 30px;
    text-align: left;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 0px 10px 10px 10px;
    background-color: #FFCC66;
}

.cadre-type2{
    position: relative;
    padding: 30px;
    text-align: left;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 10px 10px 10px 10px;
    background-color: #FFCC66;
}

#align div{
  display: inline;
  margin: 0 1em 0 1em;
  width: 30%;
}

.glyphicon-refresh-animate {
   -webkit-animation-name: rotateThis;
   -webkit-animation-duration: 2s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;
}

@-webkit-keyframes "rotateThis" {
 from { 
        -webkit-transform: rotate( 0deg );  
    }
 to  { 
        -webkit-transform: rotate( 360deg ); 
    }
}

ul.nav li.active a, 
ul.nav li.active a:hover,
ul.nav li.active a:focus { 
    color: black;
    background-color: #FFCC66; 
    border-radius: 10px 10px 0px 0px;
}

.nav li a{
    color: #990033;
}

.nav li a:hover,
.nav li a:focus {
    color: #990033;
    border-radius: 10px 10px 0px 0px;
    background-color: #FFCC99;
}

.md-toolbar-tools{
    font-weight: 300;
    text-align: left;
    font-size: 15px;
    font-family: sans-serif;
}
.md-button:not([disabled]):hover {
    text-align: left;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    color: black;
    transition: 0.3s;
}
.md-button:not([disabled]):focus {
    text-align: left;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    background-color: #ffcc66;
    color: black;
}
