/* app css stylesheet */

html {
    position: relative;
    min-height: 100%;
}

.container.bis{
    padding-bottom: 50px;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

code {
    font-size: 80%;
}

body {
    height: 100%;
}

#drop {
    position: relative;
    top: 10px;
    height: 30px;
    border-radius: 2px;
    line-height: 30px;
    border: 2px black;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    color: black;
    background-color:  #e67300;

}

#drop.hover {
    color: green;
    background-color: #009900;
    border-color: green;
}

#uploadStatus{
    position: relative;
    top: 20px;  
    color: grey;
    text-align: left;
    font-size: 15px;
    font-family: sans-serif;
}

blockquote{
    position: relative;
    padding: 30px;  
    color: black;
    text-align: left;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 25px;
    border: 2px solid black;
    background-color: #999999;   
}

#align div{
  display: inline;
  margin: 0 1em 0 1em;
  width: 30%;
}

.glyphicon-refresh-animate {
   -webkit-animation-name: rotateThis;
   -webkit-animation-duration: 2s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;
}

@-webkit-keyframes "rotateThis" {
 from { 
        -webkit-transform: rotate( 0deg );  
    }
 to  { 
        -webkit-transform: rotate( 360deg ); 
    }
}

