html(ng-app="myApp")
    head
        meta(charset='utf8')
        base(href='/')
        title Recognition Speech Tool Test
        link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/css/app.css')

        script(src='/components/jquery/dist/jquery.min.js')
        script(src='/components/bootstrap/dist/js/bootstrap.js')
        script(src='/components/angular/angular.js')
        script(src='/components/angular-route/angular-route.js')
        script(src='/components/recordrtc/RecordRTC.js')
        script(src='/components/ng-file-upload/ng-file-upload.js')
        script(src='/components/socket.io-client/socket.io.js')
        script(src='/components/angular-socket-io/socket.js')

    body
        .navbar.navbar-default
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') Home
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        - var obj = { 'audiofile':'Audio', 'yourmicro':'Micro', 'corpus':'Corpus' }
                            - each val, key in obj
                                - if (id == key)
                                    li.active
                                        a(href='#{key}') #{val}
                                - else
                                    li
                                        a(href='#{key}') #{val}
        block body
        include footer