h2 Wellcome to Speech Recognition Tester Page!
br
p Choose the input that you want as
| - Audio: upload your file and transcribe it.
br
| - Micro: record your own voice and transcribe it.
br
| - Corpus: transcribe a corpus and compute WER, precision, recall, F-score. 
br
br
choose-input
