p Do you want to record your speech to creat your own input audio file?
p
  audio#audio-preview(controls='', style='width: 94%;')
hr
div(style="text-align: center;")
  button.btn.btn-primary#start-recording Start Recording
  &nbsp; &nbsp;
  button.btn.btn-danger#stop-recording(disabled='') Stop Recording
br
#recordStatus