h2 Transcribe Your Audio File

p Choose a file here:
choose-file
br
a(href='/transcribe/#')
  input.btn.btn-primary(type='button', value='Transcribe Your Audio')
br
blockquote#transcribedText Transcribed text here: {{transcribedText}}	