p And then, choose a toolkit:
#align
	select.btn-primary(ng-model='toolSelected', ng-change='setValue(toolSelected.value); setTool(toolSelected.name)', data-ng-options='chooseTool as chooseTool.name for chooseTool in chooseTools') 
	.btn.btn-info.btn-xs(ng-click='showMessage()') OK
	{{message}}