p Choose your input type: 
select.btn-primary(ng-model='optionSelected', ng-change='setValue(optionSelected); setLink(optionSelected.value)', data-ng-options='chooseOption as chooseOption.name for chooseOption in chooseOptions') 
&nbsp; &nbsp;
a.btn.btn-info.btn-xs(href='{{link}}', role='button') OK