p Choose the corpus that you want:
div(ng-repeat="corpus in corpuses")
	md-checkbox(value="{{corpus}}",ng-checked="selection.indexOf(corpus) > -1",ng-click="clearList(); chooseCorpusAction(corpus)") {{corpus}}
br
{{delMsg}}
&nbsp; &nbsp; 
.btn.btn-danger.pull-right(ng-click='delCorpus()') Delete corpus selected
	&nbsp; 
	.glyphicon.glyphicon-trash
br		
 

		

