p And then, choose a toolkit:
select.btn-primary(ng-model='toolSelected', ng-change='setValue(toolSelected.value); setTool(toolSelected.name);showMessage()', data-ng-options='chooseTool as chooseTool.name for chooseTool in chooseTools') 
&nbsp; &nbsp; {{message}}