br
p Convert you audio here:
.btn.btn-default(ng-click='convertAudio()') Convert audio
&nbsp; &nbsp;
.glyphicon.glyphicon-refresh.glyphicon-refresh-animate(ng-src='#', ng-show='showIcon')
&nbsp; &nbsp;
{{convertMsg}}