h5 *** Note ***
h5 Make sure that your audio file have the options required of the toolkit you want to use:
h5 Kaldi requires audio with Sample rate: 8000, Bits per sample: 16, Channel: 1
h5 Sphinx-4 requires audio with Sample rate: 16000, Bits per sample: 16, Channel: 1
br
br
p If your audio is not suitable for the toolkit you can convert it here:
.btn.btn-default(ng-click='convertAudio()') Convert audio
&nbsp; &nbsp;
.glyphicon.glyphicon-refresh.glyphicon-refresh-animate(ng-src='#', ng-show='showIcon')
&nbsp; &nbsp;
{{convertMsg}}