p Convert your audio here:
.btn.btn-primary(ng-click='convertAudio()') Convert audio
&nbsp; &nbsp;
.glyphicon.glyphicon-refresh.glyphicon-refresh-animate(ng-show='showIcon')
&nbsp; &nbsp;
{{convertMsg}}