{{msgDiag}}
div(ng-show='showDiag')
	canvas.chart.chart-bar(chart-data="data",chart-labels="labels",chart-series="series")
	canvas.chart.chart-bar(chart-data="dataTime",chart-labels="labelsTime",chart-series="series")
