p This is the partial for view 1.

h2 Transcribe Your Audio File
hr
form(method='post', enc-type='multipart/form-data')
	p You can drag an audio file on the zone below:
	drag-box
	br
	br
	p Or choose a file here:
	choose-file
	hr
	transcribe

	