br
button#transcribeButton.btn.btn-info Transcribe Your Audio
br
blockquote#transcribedText Transcribed text here:{{transcribedText}}
blockquote Original text here : {{originalText}}
blockquote#compareObject Compare text here :
