br
.btn.btn-success#transcribe-button(ng-click='requestAction(); clearRes();',disabled=false) Transcribe This Corpus
&nbsp; &nbsp;
.glyphicon.glyphicon-refresh.glyphicon-refresh-animate(ng-show='showIcon')
&nbsp; &nbsp;
{{errorMsg}}
br
br
br
div(ng-controller='tabController')
	ul.nav.nav-pills.nav-sm
		li(ng-class='{active:isSet(2)}')
			a(ng-click="setTab(2); draw();") Diagram
		li(ng-class='{active:isSet(1)}') 
			a(ng-click="setTab(1)") Results
	div.cadre-type1(ng-show='isSet(2)')
		draw-chart
	div.cadre-type2(ng-show='isSet(1)')			
		#res
