br
#transcribeButton.btn.btn-default(ng-click='trancribeRequest()') Transcribe Your Audio
br
{{errorMessage}}
br
center
	img(ng-src="images/loading.gif", style="width: 200px; height: 200px", ng-show="isShow")
div(ng-hide="isShow")
	blockquote#transcribedText Transcribed text here :{{transcribedText}}
	blockquote#origialText Original text here : {{originalText}}
	blockquote#compareObject Compare text here :
