br
.btn.btn-success#transcribe-button(ng-click='transcribeRequest()',disabled=false) Transcribe Your Micro
&nbsp; &nbsp;
.glyphicon.glyphicon-refresh.glyphicon-refresh-animate(ng-show='isShow')
br
{{errorMessage}}
br
br
.cadre-type2 
	#transcribedText &bull; Transcribed text here : {{transcribedText}}